-- Виртуальное окружение (самое важное, весит сотни мегабайт!) ---

venv/

.venv/

env/

ENV/

bin/

lib/

develop-eggs/

dist/

downloads/

eggs/

.eggs/

parts/

sdist/

var/

wheels/

share/python-wheels/

.egg-info/

.installed.cfg

.egg

--- Скомпилированный код Python (кэш, который создает сам язык) ---

pycache/

.py[cod]

$py.class

.pyo

.pyd

--- Настройки PyCharm (JetBrains) ---

.idea/

*.iws

--- Настройки VS Code ---

.vscode/

--- Кэш автотестов (pytest) ---

.pytest_cache/

.astropy

.mypy_cache/

.ruff_cache/

htmlcov/

.coverage

.coverage.

.cache

nosetests.xml

coverage.xml

.cover

*.py,cover

--- Секреты и пароли (никогда не пушим на GitHub!) ---

.env

.env

.env.

secrets.json

credentials.json

--- Временные файлы операционных систем ---

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

ehthumbs.db

Thumbs.db
